.wrapper{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  opacity: 0;
}
.watch{
  font-size: 100%;
  /* color: #ddf; */
  color: #f00;
  font-family: sans-serif;
}
.colon{
  animation: colon 2s step-start infinite;
}

@keyframes colon{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}